{% extends "index.html" %}
{% block title %}Edit profile - {{block.super}}
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="row mt-3 justify-content-center">
        <div class="col-5 text-center">
            {% for field in mainform %}
            <div class="form-group px-3">
                <div class="row justify-content-center">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <div class="alert alert-danger mt-2 mb-0">
                        <ul type="square" style="margin-bottom: 0">
                            {% for err in field.errors %}
                            <li><strong>{{ err }}</strong></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% for field in addform %}
            <div class="form-group px-3">
                <div class="row justify-content-center">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <div class="alert alert-danger mt-2 mb-0">
                        <ul type="square" style="margin-bottom: 0">
                            {% for err in field.errors %}
                            <li><strong>{{ err }}</strong></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-block">Сохранить</button>
        </div>
    </div>
    </div>
</form>
{% endblock %}